body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: rgb(233, 236, 239);
}

.chart-wrapper {
    width: 70vw;
    height: 70vh;
}

.button-wrapper {
    position: absolute;
    top: 10px;
}